<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.didi.chameleon.weex">

    <application>
        <activity
            android:name=".container.CmlWeexActivity"
            android:configChanges="orientation|screenSize|keyboard|mcc|mnc|locale|keyboardHidden|uiMode|fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
