<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.didi.chameleon.weex.jsbundlemgr">
    <!--以下一些为sdk必须添加权限，Android 6.0以上版本需动态添加权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
