<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.didi.chameleon.sdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application>
        <activity android:name=".extend.image.CmlCropActivity" />
        <activity android:name=".extend.image.CmlImageActivity" />

        <provider
            android:name=".extend.image.CmlFileProvider"
            android:authorities="${applicationId}.com.didi.chameleon.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/cml_file_paths" />
        </provider>
    </application>

</manifest>